body {
    margin: 0px;
    padding: 0px;
    height: 100vh;
}
div {
    border-color: grey;
    border-style: solid;
    border-width: -1px;
}


.page{
    display:grid;
    /* padding-top: 5px; */
    background-color: lightcoral;
    border-style: none;
    height: 100%;
    grid-template-rows: 50px 1fr 95px;
}

.topbar {
    background-color:lightblue;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr 300px;
}
.topbar-right {
    grid-column: 2/3;
    flex-direction: row;
    display: flex;
}
.topbar-right .links {
    border-style: solid;
    margin: 10px;
}

#app-button {
    margin-left: 10px;
    border-style: solid;
}

#profile-img {
    margin-left: 10px;
    margin-right: 10px;
    border-style: solid;
}
.mid-page {
    grid-row: 2/3;
    display: grid;
    grid-template-rows: 272px 100px 300px;
    
}
.google-logo {
    margin: 0 auto;
    margin-top: 150px;
    grid-row: 1/2;
}

.search-bar {
    margin: 0 auto;
    grid-row: 2/3;
    border-width: thin;
    border-color:rgb(195, 195, 195);
    margin-top: 50px;
    width: 600px;
    border-radius: 30px;
    background-color: white;
    display: grid;
    grid-template-columns: 40px 1fr 40px;

}

#search-icon {
    grid-column: 1/2;
    margin: 15px;
    width: 15px;
    height: 15px;
}

#search-box {
    grid-column: 2/3;
    height: 85%; 
    border: 0px;
    font-size: 15pt;
}

#search-box:focus {
    outline: none;
}


#voice-icon {
    grid-column: 3/4;
    margin-top: 10px;
    height: 28px;
}

.mid-page-buttons {
    margin-top: 35px;
    display: grid;
    grid-template-columns: 1fr 150px 20px 150px 1fr;
}

#mid-left-button {
    grid-column: 2/3;
    height: 40px;
    background-color: #f8f9fa;
}

#mid-right-button {
    grid-column: 4/5;
    height: 40px;
    background-color: #f8f9fa;
}

.bottom-page {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

#country {
    margin-left: 20px;
}

.bottom-links {
    margin-left: 30px;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 390px 1fr 390px;
}
.bottom-links-left {
    grid-column: 1/2;
    display: flex;
    gap: 20px;
}
.bottom-links-right {
    grid-column: 3/4;

    display:flex;
    gap: 20px;
    justify-content: flex-end;
}

